/* @keyframes fadeSlide {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeSlide {
    animation: fadeSlide 0.6s ease;
} */